@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

*{
  box-sizing:border-box;
  font-family: 'Open Sans', sans-serif;
}

body, html{
  margin:0;
  padding:0;
  height: 100%;
  /* width: 960px; */
  /* font-size: 10px; */
  font-family: 'Open Sans', sans-serif;
}
body{
  /* display: flex;
   justify-content: space-between; */
  /* align-items: center; */ 
  /* display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  
  flex-direction: column;
  -webkit-flex-direction: column; */
}
.title {
    margin-bottom: 30px;
    color: #162969;
}

#payment-info{
  font-size:21px;
  font-weight: 700;
  
}

#choose-method{
  font-size: 13px;
  color: #aaa3a3;
  word-spacing: 2px;
 
}

.card{
width: 400px !important;
height: 270px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
  margin-top: 15px;
  color: #fff;
}

.card__part{
  /* box-shadow: 1px 1px #aaa3a3; */
    top: 0;
  position: absolute;
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 400px;
    height: 270px;
    background: #DC2424;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4A569D,#ED4264);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A569D,#ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
   
    -webkit-transition: all 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 3.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

/* .card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
} */

.card__logo {
    height: 16px;
}

.card__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 4px;
    height: 30px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* .card__space-75 {
    width: 75%;
    float: left;
}

.card__space-25 {
    width: 25%;
    float: left;
} */

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 400px;
}

.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}



.section-2{
  padding-top: 20px;
  margin-bottom: 10px;
}
.details-head{
  display: flex;
  justify-content: space-between;
  
}

.logos {
  display: flex;
  width: 200px;
  justify-content: space-between;
  
}
.logos img{
  height:20px;
}

.summary{
  width:100vw;
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

.final{
  width:100vw;
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
}
nav{
  margin-bottom: 60px;
  margin-top: 30px;
}
nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

nav ul img{
  height: 80px;
  padding-bottom: 25px;
  
}
nav ul li{
  text-transform: uppercase;
  font-size: 19px;
  margin-left: 10px;
  margin-right: 30px;
  padding-right: 25px;
  font-weight: bold;
  color: #303030;

}

/* Form */
form{
  font-size: 13px;
  margin-top:15px;
}

input::placeholder{
  font-size:12px;
  color: #000 !important;
  /* font-weight: 700; */
}
.form-control-self {
  /* font-size: 0.8rem;
  height: 80vh !important; */
  height: 50px;
  margin-bottom: 10px;
 background-color: #eee;
  }

  #form.control{
    height: 250px !important;
  }

 .card-info{
   font-size: 13px;
   text-transform: uppercase;
   margin-left: 10px;

 }

 .card-image{
   height: 50px;
   width:50px;
   margin-left: 10px;
   margin-bottom: 10px;

 }

 .mc{

height: 60px;
padding-bottom:20px;
 }

 .card-lower{
   display: flex;
   justify-content: space-between;
 }

 .paynow{
   padding: 10px 20px;
 }

 .total{
   font-size: 23px;
   font-weight: bold;
 }

 #john{
   text-transform: capitalize;
 }

 .promo{
   color: #ddd;
 }